# Ignore compiled files
*.js
*.d.ts
*.map

# Ignore cdktf output
/cdktf.out/

# Ignore node_modules
/node_modules/

# Ignore Terraform state files
terraform.qt-network-cdktf.tfstate
terraform.qt-network-cdktf.tfstate.backup

# Ignore package lock file
package-lock.json

# Ignore IDE/editor files
.idea/
.vscode/

# Ignore logs
*.log
